/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #f00;
    --global-bg-color                   : #ff0;
    --global-border-color               : #0f0;
    --global-code-background-color      : #0ff;
    --global-code-text-color            : #00f;
    --global-fig-caption-color          : #f0f;
    --global-link-color                 : #88c7e6;
    --global-link-color-hover           : #a00;
    --global-link-color-visited         : #0a0;  
    --global-masthead-link-color        : #00a;
    --global-masthead-link-color-hover  : #fff683;    
    --global-text-color                 : #aa0;
    --global-text-color-light           : #a0a;
    --global-thead-color                : #0aa;
}